
<header class="jumbotron hero-spacer text-center">
  <h1>Dori-Mart's Products</h1>
  <p><%= link_to "Products", "/admin/products", class: "btn btn-danger btn-md" %></p>
</header>



<% @products.each do |p| %>
  <div class="col-md-3 sol-sm-6">
    <div class="thumbnail">
      <a href="/products/<%= p.id %>"><%= image_tag"#{p.image_url}" %></a>
      <div class="caption">
        <a href="/products/<%= p.id %>"><h3><%= p.name %></h3></a>
        <p><%= p.description %></p>
        <p>
          <a href="#" class="btn btn-primary">Buy Now!</a>
        </p>
      </div>
    </div>
  </div>
<% end %>
