<!DOCTYPE html>
<html>
<head>
  <title>Dorienn Medrano</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="navbar navbar-static-top">
  <div class="row">
    <div class="img-circle col-lg-1">
      <a href="/"> <%= image_tag"logo_pic.jpg"%></a>
    </div>

    <h1 class="col-lg-4">Dorienn's Store</h1>

    <div class="col-lg-7">
      <% if @current_user %>
        <small class="text-success">Hello, <%= @current_user.email %></small>
        <%= link_to "Sign Out", "/sign-out", class: "btn btn-danger btn-xs" %>
        <%= link_to "My Account", "/my-account" %>
        <% else %>
          <%= form_tag "/sign-in", class:"pull-right" do %>
             Email Address
             <%= text_field_tag :email %>
             Password
             <%= password_field_tag :password %>
             <%= submit_tag "Sign in" %>
             <%= link_to "Not yet a member? Join Here!", sign_up_path %>
          <% end %>
      <% end %>
      <%= link_to "Cart (0)", cart_path %>
    </div>
  </div>
</div>

<div class="container">

    <%= yield %>
</div>

</body>
</html>
