<!DOCTYPE html>
<html>
<head>
  <title>Dori-Mart</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".menu-wrapper">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-left">
          <a href="/" class="height=100%"> <%= image_tag"logo_pic.jpg"%></a>
        </div>
      </div>

      <div class="menu-wrapper collapse navbar-collapse">
        <div class="navbar-menu navbar-right">
          <ul class="nav navbar-nav">
          <% if @current_user %>
            <li><%= link_to "Hello, #{@current_user.email}", "/my-account" %></li>
            <li><%= link_to "Sign Out", "/sign-out" %></li>
            <li><%= link_to "My Account", "/my-account" %></li>
            <li><%= link_to "Cart (0)", cart_path %></li>
            <% if @current_user.is_admin? %>
              <li> <%= link_to "Add Product", new_product_path %> </li>
            <% else %>
          <% end %>
          <% end %>
        </div>

        <% if !@current_user %>
          <div class="navbar-right">
            <%= form_tag "/sign-in" do %>
              <div class="form-group">
                <div>
                  Email address
                  <%= text_field_tag :email %>
                </div>
                <div>
                  Password
                  <%= password_field_tag :password, class:"form-control" %>
                </div>
                  <%= submit_tag "Sign in" %>
                  <%= link_to "Join Here!", sign_up_path %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </nav>

  <% if flash.key?(:notice) %>
    <div class='alert alert-info'>
      <%= flash[:notice] %>
    </div>
  <% end %>

<div class="container">

    <%= yield %>
</div>

</body>
</html>
